@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    font-size: 1.1em;
}

.normal{
    padding: 20px;
}

.flexisivel{
    background-color: rgb(78, 175, 75);
    padding: 20px;
}

h1, h2{
    font-size: 1.7em;
    margin: 20px;
}

p{
    font-size: 1.2em;
}

img{
    width: 550px;
}