@charset "utf-8";

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* iPhones grandes, Androids padrão */
  menu{
    display: none;
    text-align: center;
    background-color:rgb(24, 145, 145); ;
    padding: 0;
  }

  menu a{
    display: block;
    border-top: 3px solid rgb(47, 47, 206);;
    border-radius: 0;
  }

  menu a:hover{
    background-color:rgb(39, 185, 185);;
    transform: scale(1.2);
  }
}

/* Quando a tela for maior que 768px (notebooks e PCs) */
@media screen and (min-width: 768px) {
  #burguer {
    display: none; /* Esconde o ícone do menu */
  }

  menu#itens {
    display: flex; /* Mostra o menu normal no PC */
    justify-content: center ;
    gap: 20px;
  }

  menu#itens li {
    display: inline-block;
  }
}
