@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
  height: 100vh; /* altura total da tela */
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center; /* centraliza na vertical */
  background: #f0f0f0;
}

section#login{
    background-color: aqua;
    display: flex;
    width: 90vw;
    height: 70vh;
    margin: auto;
    position: relative;
}

#imagem img{
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
