@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

body {
  background-color: rgba(28, 28, 131, 0.767);
}

section#login{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 400px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    overflow: hidden;
}

#imagem {
    display: block;
    background: url(../imagens/foto-login.jpg);
    width:400px;
    height:250px;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
}

#formulario{
    display: block;
    padding: 10px;
}