*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(to right,#DDF4E7, #67C090, #26667F, #124170);
}

p{
    text-align: justify;

}

main{
    background-color: aliceblue;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #124170;
}

h1{
    color: #124170;
    text-align: center;
    text-shadow: 1px 1px 0px #0d2d4dc2;
}

h2{
    color:#26667F ;

}